
<h1> Table </h1>


<%#<%= check_box_tag 'flag', @order_book.id, @order_book.flag, %>
	<%#data: {%>
		<%#remote: true,%>
		<%#url: url_for(action: :update, id: @order_book.id),%>
		<%#method: "PATCH"%>
	<%#} %>
<%#%>%>

<%#<span> Sort by price/quantity</span>%>

<p id="p_JavaScript">
  <script type="text/javascript">
    document.write("Hello World"); 
  </script>
</p> 

<p id="p_CoffeeScript"></p>

<div>
	<div style="float: left">
		<h1> Buy </h1>
		<table border="1">
			<tr>
				<th> Orders </th>
				<th> Price </th>
			</tr>

			<% b = @order_book.buys %>
			<% b = b.sort_by { |level| -level.price } %>
			<% b.each do |level| %>
				<tr>
					<td> 
						<table>
							<tr>
								<th> ID </th>
								<th> Quantity </th>
							</tr>
														
							<% level.orders.each do |order| %>
								<tr> 
									<td> <%= order.order_id %> </td>									
									<td> <%= order.quantity %> </td>
								</tr>
							<% end %>	
						</table>
					</td>
					<td> <%= level.price %> </td>	
					
				</tr>
			<% end %>	
		</table>
	</div>

	<div style="float: left; padding-left: 20px">
		<h1> Sell </h1>
		<table border="1">
			<tr>
				<th> Price </th>				
				<th> Orders </th>
			</tr>

			<% s = @order_book.sells %>
			<% s = s.sort_by { |level| -level.price } %>

			<% s.each do |level| %>
				<tr>
					<td> <%= level.price %> </td>					
					<td> 
						<table>
							<tr>
								<th> ID </th>
								<th> Quantity </th>
							</tr>

							<% level.orders.each do |order| %>
								<tr> 
									<td> <%= order.order_id %> </td>									
									<td> <%= order.quantity %> </td>
								</tr>
							<% end %>	
						</table>
					</td>
					
				</tr>
			<% end %>	
		</table>
	</div>
</div>
