<h1> Table </h1>


<%= check_box_tag 'flag', @data_table.id, @data_table.flag, 
	data: {
        remote: true,
        url: url_for(action: :update, id: @data_table.id),
        method: "PATCH"
	} 
%>

<span> Sort by price/quantity</span>


<div>
	<div style="float: left">
		<h1> Buy </h1>
		<table border="1">
			<tr>
				<th> ID </th>
				<th> Quantity </th>
				<th> Price </th>
			</tr>
			<% @data_table.buy.each do |order| %>
				<tr>
					<td> <%=order.order_id %></td>
					<td> <%= order.quantity %> </td>
					<td> <%= order.price %> </td>			
				</tr>
			<% end %>	
		</table>
	</div>

	<div style="float: left; padding-left: 20px">	
		<h1> Sell </h1>		
		<table border="1">
			<tr>
				<th> Price </th>
				<th> Quantity </th>
				<th> ID </th>
			</tr>
			<% @data_table.sell.each do |order| %>
				<tr>
					<td> <%=order.price %></td>
					<td> <%= order.quantity %> </td>
					<td> <%= order.order_id %> </td>			
				</tr>
			<% end %>	
		</table>
	</div>

</div>
